<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for(('static'), filename='styles.css')}}">

</head>
<body>
    <ul>
        {%if current_user.is_authenticated%}
        <li>
            <a href="{{url_for('home')}}">Home</a>
        </li>
        <li>
            <a href="{{url_for('logout')}}">Logout</a>
        </li>
        <li>
            <a href="{{url_for('add_movie')}}">Add Movie</a>
        </li>
        {%else%}
        <li>
            <a href="{{url_for('home')}}">Home</a>
        </li>
        <li>
            <a href="{{url_for('signup')}}">Sign Up</a>
        </li>
        <p>You must be logged in to add a movie.</p>
        {%endif%}
    </ul>
    <h1>Login</h1>
    <form action="/login" method="post">
        {{ form.csrf_token }}
        {{form.email.label}}
        {{form.email}}
        {{form.password.label}}
        {{form.password}}
        {{form.submit}}
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li style="color:red">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>